.card-bg {
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.name-code {
  font-family: Apercu;
  line-height: normal;
  font-size: 12px;

  color: #808b97;
}
.box {
  border-top: 1px solid #ebecf0;
}

.svg-width {
  width: 28px;
}
